{
  "presets": [
    [ "@babel/preset-react" ],
    [
      "@babel/env", {
        "targets": {
          "browsers": [
            "last 2 versions",
            "ie >= 10"
          ]
        }
      }
    ]
  ]
}
